<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MavenWar1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>NewFile.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstpage</display-name>
    <servlet-name>firstpage</servlet-name>
    <servlet-class>abc.firstpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstpage</servlet-name>
    <url-pattern>/firstpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadDoc</display-name>
    <servlet-name>UploadDoc</servlet-name>
    <servlet-class>Task1.UploadDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDoc</servlet-name>
    <url-pattern>/UploadDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bservlet</display-name>
    <servlet-name>bservlet</servlet-name>
    <servlet-class>bservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bservlet</servlet-name>
    <url-pattern>/bservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchdata</display-name>
    <servlet-name>fetchdata</servlet-name>
    <servlet-class>Task1.fetchdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchdata</servlet-name>
    <url-pattern>/fetchdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Up1</display-name>
    <servlet-name>Up1</servlet-name>
    <servlet-class>Task1.Up1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Up1</servlet-name>
    <url-pattern>/Up1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayData</display-name>
    <servlet-name>DisplayData</servlet-name>
    <servlet-class>Task1.DisplayData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayData</servlet-name>
    <url-pattern>/DisplayData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check</display-name>
    <servlet-name>check</servlet-name>
    <servlet-class>Task1.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getdatafornot</display-name>
    <servlet-name>getdatafornot</servlet-name>
    <servlet-class>SNS.getdatafornot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getdatafornot</servlet-name>
    <url-pattern>/getdatafornot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verifydata</display-name>
    <servlet-name>verifydata</servlet-name>
    <servlet-class>SNS.verifydata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifydata</servlet-name>
    <url-pattern>/verifydata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getName</display-name>
    <servlet-name>getName</servlet-name>
    <servlet-class>getName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getName</servlet-name>
    <url-pattern>/getName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getFiles</display-name>
    <servlet-name>getFiles</servlet-name>
    <servlet-class>getFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFiles</servlet-name>
    <url-pattern>/getFiles</url-pattern>
  </servlet-mapping>
</web-app>